<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>API</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <button id="get-quote" type="button">Get A Quote</button>
    <div class="content">
        <h2></h2>
        <p></p>
    </div>
    <form class="form">
        <label>post a quote: <input type="text" id="create-quote"></label>
        <label>post an author: <input type="text" id="create-author"></label>
        <div class="flex">
            <button id="create-button" type="button">Post</button>
            <button id="destroy-button" type="button">Delete</button>
        </div>

    </form>





    <script src="js/main.js"></script>
</body>

</html>